html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: 'Vollkorn',arial,serif;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  Clear Floated Elements
*/

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clear:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

* html .clear {
    height: 1%;
}

/*
  Style HTML Tags
*/

body {
    color: #333333;
    font-family: 'Vollkorn',arial,serif;
    font-size: 14px;
    line-height: 1.5em;
}

a {
    color: #4E7F92;
    text-decoration: none;
}

a:hover{
    color: #2C4852;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Vollkorn',arial,serif;
    margin-bottom: 6px;
    line-height: 125%;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 14px;
}

p {
    margin-bottom: 18px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 15px;
    width: 100%;
}

th, tr, td {
    vertical-align: middle;
}

.sticky-header th, .sticky-table th {
    border-bottom: 3px solid #ccc;
    padding-right: 1em;
    text-align: left;
}

table {
    border: 1px solid #bbbbbb;
}

th {
    padding: 5px 4px;
    text-shadow: 1px 1px #fff;
    border-right: 1px solid #c8c7c7;
    color: #333;
}

tr {
    background: none !important;
}

td {
    color: #747474;
    text-align: left;
    padding-left: 4px;
    border-right: 1px solid #c8c7c7;
    border-bottom: 1px solid #c8c7c7;
}

code {
    background: #d8d8d8;
    text-shadow: 1px 1px #fff;
    border: 1px solid #bbbbbb;
    display: block;
    padding: 7px;
    margin: 5px 0;
    border-radius: 7px;
}

mark {
    background-color: #fdfc9b;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

hr {
    border: none;
    border-top: #eee 1px solid;
}

dt {
    font-weight: bold;
    margin-bottom: 24px;
}

dd {
    margin-left: 30px;
    margin-bottom: 24px;
}

ul {
    list-style-type: disc;
    margin-left: 15px;
    margin-bottom: 12px;
}

ul ul {
    list-style-type: square;
    margin-bottom: 0;
}

ul ul ul {
    list-style-type: circle;
}

ol {
    list-style-type: decimal;
    margin-left: 30px;
    margin-bottom: 24px;
}

ol ol {
    list-style: upper-alpha;
    margin-bottom: 0
}

ol ol ol {
    list-style: lower-roman;
}

ol ol ol ol {
    list-style: lower-alpha;
}

abbr,
acronym {
    border-bottom: #999 1px dotted;
    cursor: help;
}

big {
    font-size: 1.3em;
}

cite,
em {
    font-style: italic;
}

ins {
    background-color: #fdfc9b;
    text-decoration: none;
}

pre {
    background: #d8d8d8;
    text-shadow: 1px 1px #fff;
    border: 1px solid #bbbbbb;
    padding: 7px;
    margin: 5px 0;
    border-radius: 7px;
}

blockquote, q {
    quotes: none;
    border: 1px solid #bbbbbb;
    background: #d8d8d8 url("../images/quote.png") no-repeat;
    padding: 10px 5px 5px 47px;
    text-shadow: 1px 1px #fff;
    margin: 5px 0;
    border-radius: 7px;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

strong {
    font-weight: bold;
}

sup,
sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    position: relative;
    font-size: 10px;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

img,
video {
    max-width: 100%;
    height: auto;
}

video {
    display: block;
}

audio {
    max-width: 100%;
}

.content a img {
    padding: 5px;
}

.content a:hover img {
}

.marker, .form-required {
    color: #c24050;
}


/*
  Theme Design, Layout and Typography
*/

#header_wrapper {
    position: relative;
    margin: 0 auto;
}

#header {
    max-width: 1000px;
    margin: 0 auto;
}

.menu_wrapper {
    background-color: #4E7F92;
    border-bottom: 0 solid #4E7F92;
    border-top: 0 solid #4E7F92;
    display: block;
    margin-bottom: 15px;
    padding: 13px 0 14px;
    position: relative;
    z-index: 99;
}

#logo {
    float: left;
    margin: 15px 10px;
}

.site-title a,
#site-description,
#site-name{
    color: #4E7F92;
    font-weight: 300;
}

.site-title,
#site-description,
#site-name{
    float: left;
}

.site-title {
    margin: 15px 0;
    font-size: 28px;
    font-weight: bold;
}

.site-title a{
    float: left;
    font-family: dancing script,arial,serif;
}

#site-description {
    clear: both;
    color: #4E7F92;
    float: left;
    font-family: Dancing script ,arial,serif;
    font-size: 25px;
    line-height: 100%;
    margin: 15px 0 0 20px;
}
#site-name {
    clear: both;
    color: #4E7F92;
    float: left;
    font-family: Dancing script ,arial,serif;
    font-size: 30px;
    line-height: 100%;
    margin: 15px 0 0 20px;
}

#main-menu .nav-toggle {
    display: none;
}

#main-menu {
    max-width: 1000px;
    margin: 0 auto;

}

#main-menu ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 13px;
}

#main-menu li {
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    font-family: 'Vollkorn',arial,serif;
    font-size: 18px;
}

#main-menu ul li:first-child {
    padding-left: 0;
}

#main-menu a {
    border-radius: 5px 5px 5px 5px;
    color: #343434;
    display: block;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

#main-menu a:hover,
#main-menu li > a.active,
#main-menu li > a.active-trail {
    background: none repeat scroll 0 0 #ffffff;
    color: #4E7F92;
    text-decoration: none;
}

.drop-down-toggle {
    position: absolute;
    top: 7px;
    right: 16px;
    display: none;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    border: #ffffff 3px solid;
}

.drop-down-arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 8px 0 0 5px;
    border-top: 5px solid #ffffff;
    border-left: transparent 5px solid;
    border-right: transparent 5px solid;
}




#main-menu li li {
    float: none;
    min-width: 190px;
    padding: 0;
    margin: 0;
}

#main-menu li li a  {
    background: none repeat scroll 0 0 #4E7F92;
    border: 1px solid #343434;
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    min-width: 150px;
    overflow: hidden;
    padding: 4% 5%;
    text-align: left;
}

#main-menu li li a:hover {
    background: #343434;
    color: #fff;
}

#main-menu li ul {
    display: none;
    position: absolute;
    z-index: 9999;
    min-width: 190px;
    height: auto;
    padding: 0;
    margin: 0;
}

#main-menu li ul ul {
    margin: -33px 0 0 190px !important;
}

#main-menu li:hover > ul,
#main-menu li li:hover > ul,
#main-menu li li li:hover > ul {
    display: block;
}

#main-menu ul li.leaf, #main-menu ul li.expanded, #main-menu ul li.collapsed {
    list-style: none;
    list-style-type: none;
}
#main-menu ul.menu li {
    margin: 0 3px 0 0;
}

#main-menu li.expanded, #main-menu li.collapsed, #main-menu li.leaf {
    margin: 0;
    padding: 0;
}


.front #container{
    margin-top: 1.5%;
}

#container {
    margin: 2.76% auto;
    max-width: 1000px;
}

.content-sidebar-wrap {
    float: left;
    width: 100%;
}

.content-sidebar-wrap #content {
    display: inline;
    margin-bottom: 2.7%;
    float: right;
    width: 100%;
}

#sidebar-first {
    color: #888;
    float: left;
}


/* 3 columns */

body.two-sidebars .content-sidebar-wrap {
    width: 80%;
}

body.two-sidebars #content {
    width: 75%;
}

body.two-sidebars #sidebar-first {
    width:  24%;
}

body.two-sidebars #sidebar-second {
    width: 19%;
}

/* 2 columns: sidebar-first */

body.sidebar-first .content-sidebar-wrap {
    width: 100%;
}

body.sidebar-first #content {
    width: 80%;
}

body.sidebar-first #sidebar-first {
    width: 19%;
}


#post-content {
    padding: 0 20px;
}

.breadcrumb {
    margin: 0 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    border-bottom: #eee 1px solid;
}

#head, #content, #sidebar-second, #sidebar-first {
    margin-top: 10px;
}

.block {
    margin-bottom: 1%;
}

.block > h2{
    border-bottom: 1px solid #ccc;
    color: #555;
    font-family: Vollkorn,arial,serif;
    font-size: 24px;
    font-weight: normal;
    margin: 5px 0px;
    padding: 0px 0px 4px 0px;
    text-transform: capitalize;
}

#footer-area .block > h2 {
    color: #333333;
    margin-bottom: 10px;
    text-transform: capitalize;
    border: 0;
}

#footer-area ul.menu li a.active{
    color: #ddd;
}

.submitted {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #e9e9e9;
    border-radius: 4px;
    clear: both;
    color: #383838;
    display: block;
    margin-bottom: 5px;
    padding: 4px 9px;
}

.links {
    color: #000;
    margin-top: 10px;
    font-size: 14px;
}

ul.links {
    margin: 0;
}

.links li a {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #4E7F92;
    border-radius: 4px;
    color: #fff;
    font-weight: normal;
    padding: 4px 8px;
    display: inline-block;
    margin-bottom: 1px;
}

.links li a:hover {
    background: #2C4852;
    color: #ddd;
}


/*-------------------------------------------*
/* Menus and item lists
/*-------------------------------------------*/
.item-list ul {
    margin: 0;
    padding: 0 0 0 1.5385em;
}

.item-list ul li {
    margin: 0;
    padding: 0;
}

ul.menu li {
    margin: 0;
    padding: 0;
}

ul.inline {
    clear: both;
}

ul.inline li {
    margin: 0;
    padding: 0;
}


/*-------------------------------------------*
/* Navigation
/*-------------------------------------------*/
.item-list .pager li {
    background: #cfcfcf;
    border-radius: 3px;
    margin-right: 4px;
}

/* Images */

img {
    outline: 0;
}

img.scale-with-grid {
    max-width: 100%;
    height: auto;
}


.one .column {
    width: 100% !important;
}

.one .column img{
    float: left;
    padding-right: 10px;
}

.two .column {
    width: 45% !important;
}

.two .column img{
    float: left;
    padding-right: 10px;
}

#top-area .column:first-child {
    margin-left: 0;
}

#top-area .column:last-child {
    border: 0;
}

#top-area .column-title {
    color: #e0e0e0;
}

#top-area li {
    list-style-type: none;
}
ul.menu li.leaf{
    list-style-type: none;
    padding-right: 15px
}

#footer {
    clear: both;
    color: rgb(34, 34, 34);
    background: none repeat scroll 0 0 #4E7F92;
    border-top: 1px solid #cfd7db;
}

#footer_wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px;
}

#footer-area {
    position: relative;
    padding: 1.76% 0 0;
    color: #999;
}

#footer-area .column {
    color: #ffffff;
    float: left;
    width: 30.8%;
    margin: 0 0 1.9% 3.8%;
}

#footer-area .column:first-child {
    margin-left: 0;
}

#footer-area .column-title {
    color: #e0e0e0;
}
#footer-area a {
    color: #ffffff;
}

#copyright {
    clear: both;
    padding: 0 0px;
    line-height: 40px;
}

.copyright {
    float: left;
    max-width: 728px;
}

.credits {
    float: right;
    max-width: 370px;
    margin-right: 12px;
    text-align: right;
}

#copyright p {
    margin: 0;
}

.footer_credit {
    background: #000;
    border-top: 1px solid rgb(59, 60, 61);
    color: #777;
    font-family: Arial;
    overflow: auto;
    padding: 10px;
}
.footer_inner_credit {
    max-width: 1000px;
    margin: 0 auto;
}
#foot .menu li .active {
    color:#4E7F92;
}
#foot .menu li a {
    color:#ffffff;
}
#foot .block > h2 {
    color:#ffffff;
}


#logo{
	min-width:150px;
	min-height:150px
}